# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# OSMnx/NetworkX network cache
cache/

# SQLite databases
# (Database utama kita ikutkan ke dalam Git agar Streamlit bisa membacanya)

# Streamlit secrets (keep configs but ignore secret credentials)
.streamlit/secrets.toml

# OS & Editor files
.DS_Store
.vscode/
.idea/
